.message-tabs .ctech-row > div:first-child {
	padding-right: 2px;
}

.message-tabs .ctech-row > div:last-child {
	padding-left: 2px;
}

.message-tabs .ctech-row ul.ctech-nav {
	margin-left: 0;
}

.message-tabs #messages_tabs {
	height: 550px;
	display: block;
	overflow: hidden;
}

.message-tabs #messages_tabs:hover {
	overflow: auto;
}

@media (max-width: 578px) {
	.message-tabs #messages_tabs {
		min-height: 70px;
		height: 180px;
		overflow: auto;
	}
}

[dir] .tile-box {
	border: 1px solid #fafafa;
	margin-bottom: 20px;
}

[dir=ltr] .tile-box {
	-webkit-box-shadow: 1px 1px 1px 2px #dfdfdf;
	-moz-box-shadow: 1px 1px 1px 2px #dfdfdf;
	box-shadow: 1px 1px 1px 2px #dfdfdf;
}

[dir=rtl] .tile-box {
	-webkit-box-shadow: -1px 1px 1px 2px #dfdfdf;
	-moz-box-shadow: -1px 1px 1px 2px #dfdfdf;
	box-shadow: -1px 1px 1px 2px #dfdfdf;
}

[dir] .tile-head {
	padding: 4px;
	background: #f5f5f5;
}

[dir] .tile-body {
	padding: 5px;
	border-top: 1px solid #dedede;
}

[dir] .tile-foot {
	padding: 5px;
	border-top: 1px solid #dedede;
	background: #f9f9f9;
}

.btn-toggle {
	width: 30px;
	height: 26px;
	font-size: 18px;
	color: #494851;
	line-height: 25px;
}

[dir] .btn-toggle {
	text-align: center;
}

.message-sender {
	font-weight: bold;
	white-space: nowrap;
}

[dir=ltr] .message-sender {
	padding: 7px 24px 2px 0;
}

[dir=rtl] .message-sender {
	padding: 7px 0 2px 24px;
}

td.message-sender {
	width: 150px;
}

.message-product-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 180px;
}

[dir] .message-product-title {
	padding-top: 5px;
}

.tile-foot .message-last {
	vertical-align: middle;
}

[dir] .tile-foot .message-last {
	padding-top: 2px;
}

[dir=ltr] .tile-foot .message-last {
	float: right;
	margin-right: 5px;
}

[dir=rtl] .tile-foot .message-last {
	float: left;
	margin-left: 5px;
}

.tile-foot .message-last span {
	font-weight: bold;
	font-size: 16px;
}

.message-item-csv {
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	max-height: 24px;
	white-space: nowrap;
	max-width: 250px;
}

.message-item-csv:after {
	content: '...';
}

.message-item-count {
	font-size: 12px;
	white-space: nowrap;
	vertical-align: middle;
	font-weight: bold;
}

[dir] .message-item-count {
	padding-top: 7px;
}

[dir=ltr] .message-item-count {
	float: right;
}

[dir=rtl] .message-item-count {
	float: left;
}

.message-item-count span {
	font-weight: normal;
}

[dir] .tile-head table {
	margin-top: -3px;
}

[dir] .message-items tr + tr {
	border-top: 1px solid #dedede;
}

.message-items td {
	line-height: 1.6;
}

[dir] .message-items td {
	padding: 5px;
}

.item-total {
	font-weight: bold;
	font-size: 14px;
}

.message-sender a,
.message-sender a:hover,
.message-sender a:focus,
.message-sender a:visited,
.message-sender a:active {
	color: #000000;
	text-decoration: none;
}

.dark-link,
.dark-link:hover,
.dark-link:active,
.dark-link:focus,
.dark-link:visited {
	color: #333333;
}

.btn-return-message, .btn-exchange-message {
	/*width: 120px;*/
	white-space: nowrap;
}

[dir] .btn-return-message, [dir] .btn-exchange-message {
	margin-top: 5px;
	clear: both;
}

div[id^="return-form"] .modal-content,
div[id^="exchange-form"] .modal-content {
	max-width: 660px;
}

[dir] div[id^="return-form"] .modal-body, [dir] div[id^="exchange-form"] .modal-body {
	padding: 15px;
}

div[id^="return-form"] textarea,
div[id^="exchange-form"] textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.message-tab-details .message-sender,
.message-tab-details .message-last {
	font-size: 12px;
}

[dir] .message-tab-details .message-sender, [dir] .message-tab-details .message-last {
	padding: 0;
}

.message-basic-details .message-basic-head {
	font-weight: 400;
	font-size: 13px;
}

[dir] .message-basic-details .message-basic-head {
	padding: 14px 15px;
	background: rgba(51, 51, 51, 0.1);
}

.message-basic-details .message-basic-head .message-detail-button {
	font-size: 15px;
}

[dir] .message-basic-details .message-basic-head .message-detail-button {
	padding: 0 9px;
}

[dir=ltr] .message-basic-details .message-basic-head .message-detail-button {
	margin-left: 7px;
}

[dir=rtl] .message-basic-details .message-basic-head .message-detail-button {
	margin-right: 7px;
}

.message-item .message-item-image {
	width: 60px;
}

[dir=ltr] .message-item .message-item-image {
	float: left;
}

[dir=rtl] .message-item .message-item-image {
	float: right;
}

.message-item .message-item-info {
	width: calc(100% - 210px);
}

[dir] .message-item .message-item-info {
	padding: 0 5px;
}

[dir=ltr] .message-item .message-item-info {
	float: left;
}

[dir=rtl] .message-item .message-item-info {
	float: right;
}

.message-item .message-item-price {
	width: 150px;
}

[dir=ltr] .message-item .message-item-price {
	float: left;
}

[dir=rtl] .message-item .message-item-price {
	float: right;
}

.message-item .message-item-image span {
	width: 60px;
	height: 60px;
	-webkit-background-size: cover;
	display: inline-block;
}

[dir] .message-item .message-item-image span {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.message-item .message-item-title {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	font-size: 14px;
	overflow: hidden;
	text-decoration: none;
}

[dir] .message-item {
	padding: 10px;
}

.message-item .message-item-info span {
	font-size: 12px;
	display: block;
}

.message-item .message-item-price .item-status span {
	font-size: 13px;
	display: block;
}

.message-item .message-item-status {
	line-height: 1.6;
	font-size: 14px;
}

[dir] .message-item .message-item-status {
	border-top: 1px solid rgba(222, 222, 222, 0.12);
	padding: 5px;
}

.message-item .message-item-status .status-item {
	text-transform: uppercase;
}

.message-tabs .ctech-tab-content {
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
}

@media (max-width: 578px) {
	.message-tabs .ctech-nav-tabs {
		margin-left: 0;
	}
	.message-basic-head .message-last {
		display: none;
	}
}

.message-tab-details .message-last .last-message-body,
.message-tab-details .message-last .last-message-time {
	max-width: 50%;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
}

@media (max-width: 600px) {
	.message-tabs .ctech-row > div {
		padding-left: 2px;
		padding-right: 2px;
	}
}

.message-tab-details .message-count {
	font-size: 12px;
	line-height: 12px;
	width: 23px;
	height: 21px;
	text-align: center;
}
