[dir] div.fieldset {
	border: 1px solid #dedede;
	padding: 8px;
	margin-top: 16px;
	margin-bottom: 6px;
}

[dir=ltr] .order-info {
	margin-right: 10px;
}

[dir=rtl] .order-info {
	margin-left: 10px;
}

[dir] .order-info tr {
	border-bottom: 1px solid #dedede;
}

.order-info td {
	line-height: 1.9;
}

[dir] .order-info td {
	padding: 5px;
}

.order-total {
	font-weight: bold;
}

[dir] .order-total {
	background: #eeeeee;
	padding: 6px;
	cursor: default;
}

[dir] #address-viewer {
	padding: 0;
	display: flex;
	width: 100%;
}

[dir=ltr] #address-viewer {
	text-align: left;
}

[dir=rtl] #address-viewer {
	text-align: right;
}

[dir] #address-billing-text, [dir] #address-shipping-text {
	margin-bottom: 10px;
	padding: 0;
	width: 50%;
	flex: 1;
}

.address_mobile i.fa {
	font-size: 95%;
}

button.btn-action {
	white-space: nowrap;
	width: 100px;
}

[dir] button.btn-action {
	background: transparent;
	margin: 2px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
}

[dir=ltr] button.btn-action {
	padding: 3px 3px 3px 6px;
}

[dir=rtl] button.btn-action {
	padding: 3px 6px 3px 3px;
}

.btn-action {
	color: #aeaeae;
}

.btn-action span {
	line-height: 1.3;
	color: #000000;
}

.btn-action:before {
	font-size: 20px;
	line-height: 1.6;
}

[dir=ltr] .btn-action:before {
	float: left;
	margin-right: 5px;
}

[dir=rtl] .btn-action:before {
	float: right;
	margin-left: 5px;
}

[dir=ltr] .btn-action {
	-webkit-box-shadow: 1px 1px 1px 1px #dfdfdf;
	-moz-box-shadow: 1px 1px 1px 1px #dfdfdf;
	box-shadow: 1px 1px 1px 1px #dfdfdf;
}

[dir=rtl] .btn-action {
	-webkit-box-shadow: -1px 1px 1px 1px #dfdfdf;
	-moz-box-shadow: -1px 1px 1px 1px #dfdfdf;
	box-shadow: -1px 1px 1px 1px #dfdfdf;
}

[dir=ltr] .btn-action:hover {
	-webkit-box-shadow: 1px 1px 1px 1px #c3c3c2;
	-moz-box-shadow: 1px 1px 1px 1px #c3c3c2;
	box-shadow: 1px 1px 1px 1px #c3c3c2;
}

[dir=rtl] .btn-action:hover {
	-webkit-box-shadow: -1px 1px 1px 1px #c3c3c2;
	-moz-box-shadow: -1px 1px 1px 1px #c3c3c2;
	box-shadow: -1px 1px 1px 1px #c3c3c2;
}

[dir=ltr] .order-actions td + td {
	border-left: 1px solid #dfdfdf;
}

[dir=rtl] .order-actions td + td {
	border-right: 1px solid #dfdfdf;
}

[dir] .order-items {
	margin-top: 15px;
}

[dir] .order-items > tr + tr {
	border-top: 1px solid #dedede;
}

[dir] .order-items > tbody > tr {
	border-bottom: 1px solid #dfdfdf;
}

.order-items > thead > tr {
	height: 30px;
	text-transform: uppercase;
	line-height: 2.0;
}

[dir] .order-items > thead > tr {
	padding: 4px;
	background: #f5f5f5;
	border: 1px solid #cedede;
}

.order-items td {
	line-height: 1.6;
}

[dir] .order-items td {
	padding: 5px;
}

[dir] .shoprule-info > tbody > tr {
	border-top: 1px solid #dfdfdf;
}

[dir] .shoprule-info > tbody > tr:last-child {
	border-bottom: 1px solid #dfdfdf;
}

.shoprule-info > thead > tr {
	height: 30px;
	text-transform: uppercase;
	line-height: 2.0;
}

[dir] .shoprule-info > thead > tr {
	padding: 4px;
	background: #f5f5f5;
	border: 1px solid #cedede;
}

.shoprule-info th, .shoprule-info td {
	line-height: 1.4;
}

[dir] .shoprule-info th, [dir] .shoprule-info td {
	padding: 3px 5px;
}


[dir] .order-ship-info > tbody > tr {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.order-ship-info td {
	line-height: 1.4;
}

[dir] .order-ship-info td {
	padding: 3px;
}

.item-total {
	font-weight: bold;
	font-size: 14px;
}

.dark-link,
.dark-link:hover,
.dark-link:active,
.dark-link:focus,
.dark-link:visited {
	color: #333333;
}

[dir] .oi-status tr + tr {
	border-top: 1px solid #dfdfdf;
}

.oi-status td {
	color: #000000;
	font-size: 11px;
	line-height: .9;
}

[dir] .oi-status td {
	background: #f9f9f9;
}

.thin-line {
	line-height: 0.4;
}

[dir] .thin-line {
	padding: 0;
}

[dir] .bg-color-dark {
	background: #dedede;
}

[dir] #payment-forms {
	clear: both;
}

[dir] #payment-forms .accordion-heading {
	background: #edecee;
}

#payment-forms a.accordion-toggle,
#payment-forms a.accordion-toggle:hover,
#payment-forms a.accordion-toggle:active,
#payment-forms a.accordion-toggle:focus {
	color: #000;
	text-decoration: none;
}

#payment-forms a.accordion-toggle:after {
	font-family: FontAwesome, serif;
	content: "\f078";
}

[dir=ltr] #payment-forms a.accordion-toggle:after {
	float: right;
}

[dir=rtl] #payment-forms a.accordion-toggle:after {
	float: left;
}

.payment-table {
	width: 100%;
}

[dir] .payment-table td {
	padding: 4px 1px;
}

.payment-fee {
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	color: #333;
}

[dir=ltr] .payment-fee {
	margin: 0 0 12px 2px;
}

[dir=rtl] .payment-fee {
	margin: 0 2px 12px 0;
}

.payment-fee span {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

[dir] .payment-fee span {
	margin: 6px 2px;
}

.orders-heading {
	font-size: 22px;
	line-height: 24px;
	color: #333;
	letter-spacing: 1px;
	text-transform: uppercase;
}

[dir] .orders-heading {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 15px;
	margin: 0;
	padding-bottom: 10px;
}

.complete-order-wrapper .order-basic-info {
	font-size: 14px;
}

[dir] .complete-order-wrapper .order-basic-info {
	padding: 10px 0;
}

[dir] .complete-order-wrapper .order-advanced-info {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	padding: 10px;
	margin: 0;
}

.complete-order-wrapper .order-advanced-info .address_label {
	font-size: 16px;
	font-weight: 500;
	color: rgb(0, 0, 0) !important;
	text-decoration: none;
}

[dir] .complete-order-wrapper .order-advanced-info .address_label {
	background: transparent;
	padding: 0;
}

.complete-order-wrapper .order-advanced-info .address_name {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.8;
	width: 230px;
	text-transform: uppercase;
	display: block;
	letter-spacing: 1px;
}

.complete-order-wrapper .order-advanced-info span.address_mobile,
.complete-order-wrapper .order-advanced-info span.address_company,
.complete-order-wrapper .order-advanced-info span.address_po_box,
.complete-order-wrapper .order-advanced-info span.address_address,
.complete-order-wrapper .order-advanced-info span.address_landmark,
.complete-order-wrapper .order-advanced-info span.address_district,
.complete-order-wrapper .order-advanced-info span.address_country {
	line-height: 1.5;
	font-size: 13px;
	color: #333;
}

.complete-order-wrapper .order-advanced-info .order-summary > thead > tr {
	text-transform: uppercase;
	line-height: 2.0;
	font-size: 16px;
	font-weight: 500;
	color: rgb(0, 0, 0) !important;
}

[dir] .complete-order-wrapper .order-advanced-info .order-summary > thead > tr {
	padding: 0;
	background: #fff;
	border: 0;
}

.complete-order-wrapper .order-advanced-info .order-summary td {
	line-height: 1.5;
	font-size: 13px;
	color: #333;
	font-style: normal;
}

[dir] .complete-order-wrapper .order-advanced-info .order-summary td {
	background: #ffffff;
}

.complete-order-wrapper .order-advanced-info .order-summary .grand-total-price {
	letter-spacing: 0.5px;
	height: 24px;
	width: 100%;
}

[dir] .complete-order-wrapper .order-items {
	background-color: #ffffff;
	margin-top: 15px;
}

[dir] .complete-order-wrapper .order-items .order-item {
	border: 1px solid #e8e8e8;
	padding: 10px;
	margin-bottom: 15px;
}

[dir] .complete-order-wrapper .order-items .order-item .order-item-basic-info {
	margin-bottom: 10px;
}

.complete-order-wrapper .order-items .order-item .order-status-date,
.complete-order-wrapper .order-items .order-item .order-status {
	font-weight: 500;
	font-size: 16px;
}

.complete-order-wrapper .order-items .order-item .item-image {
	width: 150px;
	vertical-align: middle;
	height: 150px;
	overflow: hidden;
	position: relative;
}

[dir] .complete-order-wrapper .order-items .order-item .item-image {
	background: #fff;
	border: 3px solid #fff;
	text-align: center;
}

[dir=ltr] .complete-order-wrapper .order-items .order-item .item-image {
	float: left;
}

[dir=rtl] .complete-order-wrapper .order-items .order-item .item-image {
	float: right;
}

.complete-order-wrapper .order-items .order-item .item-image span {
	height: 100%;
	width: 100%;
	display: block;
}

[dir] .complete-order-wrapper .order-items .order-item .item-image span {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

.complete-order-wrapper .order-items .order-item .item-info {
	width: calc(100% - 150px);
}

[dir] .complete-order-wrapper .order-items .order-item .item-info {
	background: #fff;
}

[dir=ltr] .complete-order-wrapper .order-items .order-item .item-info {
	float: left;
	padding-left: 15px;
}

[dir=rtl] .complete-order-wrapper .order-items .order-item .item-info {
	float: right;
	padding-right: 15px;
}

.complete-order-wrapper .order-items .order-item .item-title {
	color: #222222;
	text-decoration: none;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-size: 14px;
}

.complete-order-wrapper .order-items .order-item .item-price {
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 15px;
	height: 24px;
	display: table;
	width: 100%;
	font-size: 22px;
	-webkit-transform: scale(1, 1.03);
	-moz-transform: scale(1, 1.03);
	-ms-transform: scale(1, 1.03);
	-o-transform: scale(1, 1.03);
}

[dir] .complete-order-wrapper .order-items .order-item .item-price {
	transform: scale(1, 1.03);
}

[dir=ltr] .complete-order-wrapper .order-items .order-item .item-price {
	float: left;
	margin: 6px 3px 0 0;
}

[dir=rtl] .complete-order-wrapper .order-items .order-item .item-price {
	float: right;
	margin: 6px 0 0 3px;
}

.complete-order-wrapper .order-items .order-item {
	font-size: 14px;
}

.complete-order-wrapper #payment-methods .ctech-nav-item {
	width: 100%;
}

[dir] .complete-order-wrapper #payment-methods .ctech-nav-tabs {
	border-bottom: unset;
	margin: 0;
}

.complete-order-wrapper #payment-methods .ctech-nav-item .ctech-nav-link {
	font-size: 14px;
	text-decoration: none;
	color: rgb(83, 78, 78) !important;
	font-weight: 400;
}

[dir] .complete-order-wrapper #payment-methods .ctech-nav-item .ctech-nav-link {
	border: 1px solid rgb(250, 246, 246);
	padding: 15px 16px;
	background: #fffcfc;
	cursor: pointer;
	margin-bottom: 5px;
	border-radius: unset;
}

[dir] .complete-order-wrapper #payment-methods .ctech-nav-item .ctech-nav-link.ctech-active {
	background-color: #ffd5c1;
}

[dir] .complete-order-wrapper #payment-methods div.ctech-col-sm-8 {
	background: #f4f6ff;
	padding-bottom: 10px;
}

@media (max-width: 600px) {
	.order-advanced-info .order-summary {
		float: unset !important;
	}
}

#payment-methods .single-payment-method {
	width: 100%;
	padding: 10px;
	background-color: #f4f6ff;
}

.order-summary-row {
	display: flex;
	width: 100%;
}

.order-summary-head {
	margin-bottom: 5px;
}

.order-summary-title {
	text-align: right;
	font-size: 16px;
	font-weight: 500;
	color: rgb(0, 0, 0) !important;
	text-decoration: none;
}

.order-summary-single {
	text-align: right;
	width: 100%;
	flex: 1;
}

@media (min-width: 992px) {
	.order-summary-row .order-summary-row-label {
		flex: 5;
		text-align: right;
	}
	.order-summary-row .order-summary-row-value {
		flex: 2;
		text-align: right;
	}
}

@media (max-width: 992px) and (min-width: 576px) {
	.order-summary-row .order-summary-row-label {
		flex: 3;
		text-align: right;
	}
	.order-summary-row .order-summary-row-value {
		flex: 2;
		text-align: right;
	}
}

@media (max-width: 576px) {
	.order-summary {
		padding: 0 10px;
	}
	.order-summary-row .order-summary-row-label {
		flex-basis: 100px;
	}
	.order-summary-row .order-summary-row-value {
		flex-basis: calc(100% - 100px);
	}
	.order-summary-single,
	.order-summary-title {
		text-align: left;
	}
}


.order-additional-info .order-additional-questions {
	flex-basis: calc(50% - 5px);
	padding: 10px;
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.order-additional-info .additional-info-title {
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #e5e5e5;
}

.additional-param {
	margin-bottom: 5px;
}

.additional-param .additional-param-label {
	font-weight: bold;
}

@media (min-width: 768px) {
	.order-additional-info {
		display: flex;
		justify-content: space-between;
	}
}

#payment-methods {
	margin-right: 14px;
	padding-top: 10px;
}

.payment-method {
	padding-top: 10px;
}
