<form>
	<field
		name="menu_type"
		type="list"
		label="MOD_SELLACIOUS_NAVIGATOR_MENU_TYPE_TITLE"
		description="MOD_SELLACIOUS_NAVIGATOR_MENU_TYPE_DESC"
		default="0">
		<option value="0">External URL</option>
		<option value="1">Page Element Anchor</option>
	</field>
	<field
		name="menu_url"
		type="URL"
		label="MOD_SELLACIOUS_NAVIGATOR_MENU_URL_TITLE"
		description="MOD_SELLACIOUS_NAVIGATOR_MENU_URL_DESC"
		showon="menu_type:0"
	/>
	<field
		name="menu_anchor"
		type="text"
		label="MOD_SELLACIOUS_NAVIGATOR_MENU_ANCHOR_TITLE"
		description="MOD_SELLACIOUS_NAVIGATOR_MENU_ANCHOR_DESC"
		showon="menu_type:1"
	/>
	<field
		name="menu_icon"
		type="text"
		label="MOD_SELLACIOUS_NAVIGATOR_MENU_ICON_TITLE"
		description="MOD_SELLACIOUS_NAVIGATOR_MENU_ICON_DESC"
	/>
	<field
		name="menu_label"
		type="text"
		label="MOD_SELLACIOUS_NAVIGATOR_MENU_LABEL_TITLE"
		description="MOD_SELLACIOUS_NAVIGATOR_MENU_LABEL_DESC"
	/>
</form>
