.msl-use, .msl-otp-resend {
	font-size: 10px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-top: 2px;
	float: right;
}

.msl-message {
	font-size: 11px;
	padding: 2px;
	width: auto;
	text-align: center;
	margin: 4px 4px 4px 0;
}

.msl-message .text-success {
	background: #ceedd4;
}

.msl-container.msl-use-pw .msl-use-pw {
	display: inline-block;
}

.msl-container.msl-use-otp .msl-use-otp {
	display: inline-block;
}

.msl-container.msl-use-pw .msl-use-otp {
	display: none;
}

.msl-container.msl-use-otp .msl-use-pw {
	display: none;
}

.msl-container .add-on + input.msl-username, .msl-container .add-on + input.msl-password {
	width: 134px;
}
